@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Open+Sans:wght@400;800&family=Sunshiney&display=swap');
:root {
  --main-color: #f5f0e1;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
html {
  /* Elément HTML : font-size de 16px. Base de 10px : 16*62.5 /100 = 10px =>  1rem sera donc égal à 10px 
  Ce qui permet de conserver une proportionnalité pour les personnes 
  souhaitant changer la taille des éléments HTML (accessibilité)
  Et une conversion facilitant l'approche des tailles etc.
  */
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  background: #f5f0e1;
  padding-left: 20rem;
}
p {
  margin-bottom: 0;
}
/* .logo {

  display: flex;
  flex-direction: column;
  align-items: center;
flex:1;
max-width:100%;
    height:auto;
} */
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #1e3d59;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  text-align: center;
  transition: all 0.8s ease-in-out;
  align-items: center;
}
.navbar {
  top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 4;
}

header nav a span {
  cursor: pointer;
}
header nav a:hover {
  color: #ff6e40;
}
header nav a > .textMenu {
  transition: letter-spacing 0.8s ease-in-out;
}
header nav a > .textMenu:hover {
  letter-spacing: 0.3rem;
}
header nav a {
  display: inline-block;
  position: relative;
  font-size: 2.4rem;
  color: #f5f0e1;
  margin: 2rem 0;
  text-decoration: none;
  font-weight: bold;
}
header nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: #ff6e40;
  transition: transform 0.25s ease-out;
}

header nav a:hover::after {
  transform: scaleX(1);
  background-color: #ff6e40;
}
/* header nav a span > i:hover::after {
  transform: scaleX(1);
  background-color: #ff6e40;
} */
/* 
header .navbar a:hover {
  letter-spacing: 0.2rem;
  color: #ff6e40;
} */
/* header span:hover {
  letter-spacing: 0.2rem;
  color: #ff6e40;
} */
.iconMenu {
  display: block;
}
.textMenu {
  display: none;
}
#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: var(--main-color);
  color: #1e3d59;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
  border: 2px solid #ff6e40;
}

/* INFO */
.sectionInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20rem 30rem;
  row-gap: 2.5rem;
  column-gap: 1.5rem;
  grid-template-areas:
    'item1 item1 item2 .'
    'item3 item4 item4 .';
  padding: 1.5rem;
}

.sectionInfo > article {
  border-radius: 1.5rem;
}

/* @media screen and (min-width: 1367px) {
  .itemTitle {
    font-size: 2rem;
  }
  .itemContent {
    font-size: 1.1rem;
  }
} */
/* @media screen and (max-width: 1280px) {
  .sectionInfo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-areas:
      'item1 item1'
      'item4 item2'
      'item3 item3'
      'item5 item5';
  }
  .itemTitle {
    font-size: 1.5rem;
  }
  .itemContent {
    font-size: 1rem;
  }
} */

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}

.itemTitle {
  background: #ff6e40;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: 10%;
}
h2 {
  font-size: 2.6rem;
  margin: 0;
  font-weight: bold;
  color: #1e3d59;
}

/* .firstSentence {
  text-indent: 4rem;
} */
.itemContent {
  background: #1e3d59;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding: 1.5rem;
  color: #f5f0e1;
  text-align: justify;
  overflow: hidden;
  height: 90%;
}

/* CONTACT */
.sectionContact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60rem;
  /*  row-gap: 2.5rem;
  column-gap: 1.5rem; */
  grid-template-areas: '. item2';
  border-radius: 1.5rem;
  padding: 1.5rem;
  color: #f5f0e1;
}
iframe {
  border-radius: 1.5rem;
}

/* .coords {
  grid-area: item1;
  background: #1e3d59;
  border-radius: 1.5rem;
} */
.contactTitle {
  background: #ff6e40;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.contactContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.socialIconsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.socialIcons p i {
  text-decoration: none;
  margin-right: 1.5rem;
  color: #f5f0e1;
  display: inline-block;
  transition: transform 0.5s;
}
.socialIcons p i:hover {
  color: #ff6e40;
  transform: translateY(-5px);
}

/* @media screen and (min-width: 1367px) {
  .socialIcons p i,
  .coords,
  .wrapperForm {
    font-size: 1.1rem;
  }
} */
@media screen and (max-width: 1366px) {
  /*   .socialIcons p i,
  .coords,
  .wrapperForm {
    font-size: 1rem;
  } */
  /*   .sectionContact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px 1000px;
    grid-template-areas:
      'item1 item1'
      'item2 item2';
  } */
}
.googleMaps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* pour petits écrans */
/* @media screen and (max-width: 991px) {
  .wrapperCoords {
    display: flex;
    flex-direction: column;
  }
  
} */

/* FLIPCARDS */
.sectionFlipCards {
  border-radius: 1.5rem;
  background: #1e3d59;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
.flipCardsTitle {
  height: 10%;
  background: #ff6e40;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem;
  text-align: start;
  display: flex;
  align-items: center;
}
.flipcards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  grid-template-areas:
    'item1 item2 item3 item4'
    'item5 item6 item7 item8';
  padding: 1rem;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 1366px) {
  .flipcards {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    row-gap: 1.5rem;
    column-gap: 1.5rem;
  }
}
@media screen and (max-width: 991px) {
  .flipcards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
      'item1 item2'
      'item3 item4'
      'item5 item6'
      'item7 item8';
  }
}

.flip-card {
  background: transparent;
  width: 16rem;
  height: 16rem;
}

/* Container pour positionner front et back sides */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  background: #1e3d59;
}

.supHalfFront,
.infHalfBack {
  width: 100%;
  background: #ff6e40;
  color: #1e3d59;
  font-weight: bold;
}
.supHalfFront {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.infHalfFront {
  height: 20%;
}
.supHalfFront > i {
  font-size: 8rem;
}

.infHalfFront,
.supHalfBack {
  width: 100%;
  background: #f5f0e1;
  color: #1e3d59;
  font-weight: bold;
}
.supHalfFront,
.supHalfBack {
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  font-size: 1.5rem;
}
.infHalfFront,
.infHalfBack {
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  font-size: 1.5rem;
}
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #ff6e40;
  border-radius: 1.5rem;
  color: #1e3d59;
  transform: rotateY(180deg);
}
.arrowClick,
.arrowClick2 {
  position: absolute;
  right: 1rem;
  bottom: 0.2rem;
  cursor: pointer;
}
.spanPercent {
  font-size: 2rem;
}
/* CHRONO */

/* .sectionChrono {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}
.datesAndLineContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.lineChrono {
  height: 3px;
  width: 0;
  z-index: 1;
  transition: width 3s;
  background-color: orange;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.transformLineChrono {
  width: 100%;
}
.datesContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 100px;
}
.date {
  width: 3px;
  z-index: 2;
  transition: opacity 3s ease, height 3s ease;
  opacity: 0;
  height: 0px;

  background-color: orange;
  color: #0f0b2d;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.transformDates {
  height: 100px;
}
.opacityDates {
  opacity: 1;
} */

/* BOUTON Retour haut de page */
.displayBlock {
  display: block;
}
.displayNone {
  display: none;
}
#buttonTop {
  z-index: 2;
  border: none;
  outline: none;
  position: fixed;
  bottom: 6rem;
  right: 1.3rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  background-color: #ff6e40;
  color: #f5f0e1;
}

/* SCROLL LINE */
.scrollLine {
  position: absolute;
  width: 100%;
}
.scrollLineInner {
  border-top: 0;
}
.blockScrollLine {
  position: sticky;
  top: 0;
  z-index: 1001;
}

/* NO JS */
.no-js {
  visibility: visible;
}

/* FOOTER */
#footer {
  background-color: #1e3d59;
  color: #f5f0e1; /*#f5f0e1 #1e3d59 #ff6e40*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 12rem;
}

.socialIconsFooter a i {
  text-decoration: none;
  font-size: 2rem;
  margin-right: 15px;
  color: #f5f0e1;
  transition: transform 0.5s;
}
.socialIconsFooter a i:hover {
  color: #ff6e40;
  transform: translateY(-5px);
}

/* FORM INPUTS etc.*/

.wrapperContact {
  grid-area: item2;
  background: #1e3d59;
  border-radius: 1.5rem;
}
.wrapperForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapperRow {
  margin-top: 3rem;
}
.rows {
  display: flex;
  flex-direction: row;
}
.buttonForm {
  background: #1e3d59;
  color: #f5f0e1;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 3rem;
  border-radius: 1.5rem;
  border: 2px solid #f5f0e1;
  padding: 1rem;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonForm:hover,
.buttonForm:active,
.buttonForm:focus,
.buttonForm.active {
  color: #ff6e40;
  background: #f5f0e1;
  font-weight: bold;
}

.fade {
  opacity: 0;
}
.inputBox {
  position: relative;
}

.inputBox input,
.inputBox textarea {
  padding: 2rem;
  border-radius: 1.5rem;
  outline: none;
  color: #f5f0e1;
  font-size: 1.6rem;
  transition: 0.5s;
  background: #1e3d59;
  border: 2px solid #f5f0e1;
}
.inputBox .spanAnimlabel {
  position: absolute;
  left: 0;
  padding: 2rem;
  pointer-events: none;
  font-size: 1.6rem;
  color: #f5f0e1;
  transition: 0.5s;
}
.spanForm {
  opacity: 1;
  transition: opacity 3000ms ease-in-out;
  font-size: 1.6rem;
  color: #ff6e40;
  text-align: center;
  position: absolute;
  margin-left: 2rem;
}

.inputBox input:focus ~ span.spanAnimlabel,
.inputBox textarea:focus ~ span.spanAnimlabel,
input:not(:placeholder-shown) ~ span.spanAnimlabel,
textarea:not(:placeholder-shown) ~ span.spanAnimlabel {
  color: #f5f0e1;
  transform: translateX(1rem) translateY(-0.7rem);
  padding: 0 1rem;
  font-size: 1rem;
  background: #1e3d59;
  border-left: 2px solid #f5f0e1;
  border-right: 2px solid #f5f0e1;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
  border: 2px solid #f5f0e1;
}
.inputBoxDuo {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SWAL/SweetAlert.js */

.swal2-shown {
  overflow: unset !important;
  padding-right: 0 !important;
}
.swal2-container.swal2-center>.swal2-popup{
  border-radius: 1.5rem;
  background-color: #f5f0e1  !important;
}
.swal2-html-container, .swal2-title{
  color: #1e3d59 !important;
}
/* IDENTITY */
.sectionIdentity {
  display: flex;
  flex-direction: row;
  background: #1e3d59;
  color: #f5f0e1;
  justify-content: center;
  align-items: center;
}
.contentJob {
  /*   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding: 5rem;
  transition: all 0.2s ease-in-out;
}
.contentJob:hover {
  color: #ff6e40;
  letter-spacing: 0.2rem;
}
.myJob {
  font-size: 5.2rem;
  font-weight: bolder;
}

/* POT POURRI MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  html {
    font-size: 56%;
  }
  .wrapperRow {
    margin-top: 0;
  }
  .inputBox {
    margin-top: 3.5rem;
  }
  .rows {
    display: flex;
    flex-direction: column;
  }
  .logo img {
    max-width: 70%;
    height: auto;
  }

  header nav a {
    margin: 3rem 0;
    font-size: 3rem;
  }

  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20rem;
  }
  .socialIconsFooter {
    margin: 1rem;
  }
  #menu-bars {
    /*     font-size: 1.2rem;
 */
    padding: 0.5rem 0.9rem;
    margin-top: 1rem;
  }

  .sectionContact {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 85rem;
    grid-template-areas: 'item2';
  }

  .sectionInfo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:
      minmax(25rem, 1fr) minmax(25rem, 1fr) minmax(25rem, 1fr)
      minmax(25rem, 1fr);
    grid-template-areas:
      'item1 item1'
      'item2 item2'
      'item3 item3'
      'item4 item4';
  }
  .myJob {
    font-size: 3rem;
    font-weight: bolder;
  }
  .flip-card {
    background: transparent;
    width: 12rem;
    height: 12rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {
  .sectionInfo {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(25rem, 1fr) minmax(25rem, 1fr);
    grid-template-areas:
      'item1 item1 item2 item2'
      'item2 item2 item4 item4';
  }
  .top {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
  }
  .iconMenu {
    display: none;
  }
  .textMenu {
    display: block;
  }
  .myJob {
    /*     font-size: 2rem;
 */
  }
}
@media only screen and (max-width: 767px) {
  .myJob {
    /*     font-size: 3rem;
 */
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .swal2-popup {
    font-size: 1.3rem !important;
  }
}
/* Large devices (less than ) */
@media only screen and (max-width: 991px) {
  /*  html {
    font-size: 55%;
  } */
  body {
    padding: 0;
  }
  #menu-bars {
    display: initial;
  }
  header {
    left: -120%;
  }
  header.active {
    left: 0%;
  }
  /*   header nav a {
    margin: 2rem 0;
  } */
  .flipcards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
      'item1 item2'
      'item3 item4'
      'item5 item6'
      'item7 item8';
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .swal2-popup {
    font-size: 1.6rem !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1280px) {
  .itemTitle {
    /*     font-size: 1.5rem;
 */
  }
  .itemContent {
    /*     font-size: 1rem;
 */
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1281px) {
  /*   .item3Sup {
    height: 10%;
  }
  .item3Inf {
    height: 90%;
  } */
  /*  .socialIcons p i,
  .coords,
  .wrapperForm {
    font-size: 1.1rem;
  }
  .itemTitle {
    font-size: 2rem;
  }
  .itemContent {
    font-size: 1.1rem;
  } */
  .flipcards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
  }
}
@media only screen and (max-width: 1366px) {
}

@media only screen and (min-width: 1367px) {
  /*   .item3Sup {
    height: 10%;
  }
  .item3Inf {
    height: 90%;
  } */

  /* .socialIcons p i,
  .coords,
  .wrapperForm {
    font-size: 1.1rem;
  }

  .itemTitle {
    font-size: 2rem;
  }
  .itemContent {
    font-size: 1.1rem;
  } */
}
/*X-Small 	None 	<576px
Small 	sm 	≥576px
Medium 	md 	≥768px
Large 	lg 	≥992px
Extra large 	xl 	≥1200px
Extra extra large 	xxl 	≥1400px*/
/* .socialIcons p i,
.coords,
.wrapperForm {
  font-size: 1rem;
} */
