@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Open+Sans:wght@400;800&family=Sunshiney&display=swap');
:root {
  --main-color: #f5f0e1;
  font-size: 16px;
}
/* MEMO text-indent: -9999px*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: #f5f0e1;
  padding-left: 13rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #1e3d59;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 13rem;
  text-align: center;
  transition: all 0.8s ease-in-out;
  align-items: center;
  justify-content: center;

}
.navbar {
  top: 120px;
  display: flex;
  flex-direction: column;
}
header nav a span  {
  cursor: pointer;
}
header nav a:hover {
  color: #ff6e40;
}
header nav a > .textMenu {
  transition:letter-spacing 0.8s ease-in-out;
}
header nav a > .textMenu:hover {
  letter-spacing: 0.3rem;
}
header nav a {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  color: #f5f0e1;
  margin: 2rem 0;
  text-decoration: none;
  font-weight: bold;
}
header nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff6e40;
  transition: transform 0.25s ease-out;
}

header nav a:hover::after {
  transform: scaleX(1);
  background-color: #ff6e40;
}
/* header nav a span > i:hover::after {
  transform: scaleX(1);
  background-color: #ff6e40;
} */
/* 
header .navbar a:hover {
  letter-spacing: 0.2rem;
  color: #ff6e40;
} */
/* header span:hover {
  letter-spacing: 0.2rem;
  color: #ff6e40;
} */
.iconMenu {
  display: block;
}
.textMenu {
  display: none;
}
#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: var(--main-color);
  color: #1e3d59;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* INFO */
.sectionInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 300px;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-areas:
    'item1 item1 item2 item3'
    'item4 item5 item5 item3';
  padding: 20px;
}
.sectionInfo > article {
  border-radius: 15px;
}

@media screen and (min-width: 1367px) {
  .itemTitle {
    font-size: 2rem;
  }
  .itemContent {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1366px) {
  .sectionInfo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-areas:
      'item1 item1'
      'item4 item2'
      'item3 item3'
      'item5 item5';
  }
  .itemTitle {
    font-size: 1.5rem;
  }
  .itemContent {
    font-size: 1rem;
  }
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.articleInfo {
  background: #1e3d59;
}
.itemTitle {
  background: #ff6e40;
  height: 20%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  font-weight: bold;
  color: #1e3d59;
  text-align: start;
  display: flex;
  align-items: center;
  text-justify: inter-word;
}

.itemContent {
  background: #1e3d59;
  height: 80%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
  color: #f5f0e1;
  text-align: justify;
  overflow: hidden;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* CONTACT */
iframe {
  border-radius: 15px;
}
.sectionContact {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 600px;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-areas: 
  'item1 item1 item1 item2 item2 item2 item2 item2';
  padding: 20px;
  border-radius: 15px;
  color: #f5f0e1;
  height: 90%;
}
.coords {
  grid-area: item1;
  background: #1e3d59;
  border-radius: 15px;
}
.contactTitle {
  height: 10%;
  background: #ff6e40;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  text-align: start;
  display: flex;
  align-items: center;
}
.contactTitle h3 {
  font-weight: bold;
  color: #1e3d59;
  font-size: 2rem;
}
.contactContent {
  height: 90%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.socialIconsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.socialIcons a i {
  text-decoration: none;
  margin-right: 15px;
  color: #1e3d59;
  display: inline-block;
  transition: transform 0.5s;
}
.socialIcons a i:hover {
  color: #ff6e40;
  transform: translateY(-5px);
}


@media screen and (min-width: 1367px) {
  .socialIcons p i,
  .coords,
  .wrapperForm {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1366px) {
  .socialIcons p i,
  .coords,
  .wrapperForm {
    font-size: 1rem;
  }
  .sectionContact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px 600px;

    grid-template-areas:
      'item1 item1'
      'item2 item2';
  }
}
.googleMaps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* pour petits écrans */
/* @media screen and (max-width: 991px) {
  .wrapperCoords {
    display: flex;
    flex-direction: column;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */

/* FLIPCARDS */
.sectionFlipCards {
  border-radius: 15px;
  background: #1e3d59;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.flipCardsTitle {
  height: 10%;
  background: #ff6e40;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  text-align: start;
  display: flex;
  align-items: center;
}
.flipCardsTitle h3 {
  font-weight: bold;
  color: #1e3d59;
  font-size: 2rem;
}
.flipcards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 300px;
  row-gap: 2rem;
  column-gap: 2rem;
  grid-template-areas:
    'item1 item2 item3 item4'
    'item5 item6 item7 item8';
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 1366px) {
  .flipcards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .flipcards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
    grid-template-areas:
      'item1 item2'
      'item3 item4'
      'item5 item6'
      'item7 item8';
  }
}

.flip-card {
  background: transparent;
  width: 160px;
  height: 160px;
}

/* Container pour positionner front et back sides */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: #1e3d59;
}

.supHalfFront,
.infHalfBack {
  width: 100%;
  background: #ff6e40;
  color: #1e3d59;
  font-weight: bold;
}
.supHalfFront {
  display: flex;
  justify-content: center;
  align-items: center;
}
.supHalfFront > i {
  font-size: 4rem;
}
.infHalfFront,
.supHalfBack {
  width: 100%;
  background: #f5f0e1;
  color: #1e3d59;
  font-weight: bold;
}
.supHalfFront,
.supHalfBack {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 1.5rem;
}
.supHalfFront {
  height: 80%;
}
.infHalfFront {
  height: 20%;
}
.infHalfFront,
.infHalfBack {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 1rem;
}
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #ff6e40;
  border-radius: 20px;
  backdrop-filter: blur(2rem);
  color: #1e3d59;
  transform: rotateY(180deg);
}
.arrowClick,
.arrowClick2 {
  position: absolute;
  right: 30px;
  bottom: 12px;
  cursor: pointer;
}
.spanPercent {
  font-size: 2rem;
}
/* CHRONO */

.sectionChrono {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}
.datesAndLineContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 100%;
  width: 100%;
}
.lineChrono {
  height: 3px;
  width: 0;
  z-index: 1;
  transition: width 3s;
  background-color: orange;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.transformLineChrono {
  width: 100%;
}
.datesContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 100px;
}
.date {
  width: 3px;
  z-index: 2;
  transition: opacity 3s ease, height 3s ease;
  opacity: 0;
  height: 0px;

  background-color: orange;
  color: #0f0b2d;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.transformDates {
  height: 100px;
}
.opacityDates {
  opacity: 1;
}

/* BOUTON Retour haut de page */
.displayBlock {
  display: block;
}
.displayNone {
  display: none;
}
#buttonToScrollToTop {
  z-index: 2;
  border: none;
  outline: none;
  position: fixed;
  bottom: 60px;
  right: 13px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #ff6e40;
  color: #f5f0e1;
}
@media screen and (max-width: 600px) {
  #buttonToScrollToTop {
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
  }
  .top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* SCROLL LINE */
.scrollLine {
  position: absolute;
  width: 100%;
}
.scrollLineInner {
  border-top: 0;
}
.blockScrollLine {
  position: sticky;
  top: 0;
  z-index: 1001;
}

/* NO JS */
.no-js {
  visibility: visible;
}

/* FLIP-CARDS / EVALUATIONS */
.sectionEvaluations {
  height: 300px;
  /*   border: 3px solid white;
 */
}
.progressBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divContainerProgressbar {
  width: 150px;
}

.progress {
  height: 5px !important;
  transition: width 2s;
  width: 0;
}

/* FOOTER */
#footer {
  height: 150px;
  background-color: #1e3d59;
  color: #f5f0e1; /*#f5f0e1 #1e3d59 #ff6e40*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 650px) {
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
  }
  .socialIconsFooter {
    margin: 1rem;
  }
}

.socialIconsFooter a i {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #f5f0e1;
  transition: transform 0.5s;
}
.socialIconsFooter a i:hover {
  color: #ff6e40;
  transform: translateY(-5px);
}

/* EXPERIENCE */
.sectionExperience {
  font-weight: bold;
  height: 500px;
}

/* FORM INPUTS etc.*/
#form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 150px 150px;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-areas: 
  'item1 item2' 
  'item3 item4'
  'item5 item6';
  border: 2px solid yellow; */
}

.wrapperForm {
  grid-area: item2;
  background: #1e3d59;
  border-radius: 15px;
}
.btn.btn2 {
  display: inline-block;
  color: black;
}
.btn.btn3 {
  display: inline-block;
  color: black;
}
.spanForm {
  opacity: 1;
  transition: opacity 3000ms ease-in-out;
  font-size: 1rem;
}
.fade {
  opacity: 0;
}
.inputBox {
  position: relative;
}
.inputBox input,
.inputBox textarea {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #f5f0e1;
  outline: none;
  color: #f5f0e1;
  font-size: 1rem;
  transition: 0.5s;
  background: #1e3d59;
}
.inputBox span.spanAnimlabel {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1.1rem;
  color: #f5f0e1;
  transition: 0.5s;
}
/* .inputBox input[required]:valid  ~ span.spanAnimlabel,
 */.inputBox input:focus ~ span.spanAnimlabel,
/* .inputBox textarea[required]:valid  ~ span.spanAnimlabel,
 */.inputBox textarea:focus ~ span.spanAnimlabel {
  color: #f5f0e1;
  transform: translateX(10px) translateY(-7px);
  padding: 0 10px;
  font-size: 0.65rem;
  background: #1e3d59;
  border-left: 2px solid #f5f0e1;
  border-right: 2px solid #f5f0e1;
}
input:not(:placeholder-shown) ~ span.spanAnimlabel,textarea:not(:placeholder-shown) ~ span.spanAnimlabel{
  color: #f5f0e1;
  transform: translateX(10px) translateY(-7px);
  padding: 0 10px;
  font-size: 0.65rem;
  background: #1e3d59;
  border-left: 2px solid #f5f0e1;
  border-right: 2px solid #f5f0e1;
}
/* .testInput{  
  color: #f5f0e1;
  transform: translateX(10px) translateY(-7px);
  padding: 0 10px;
  font-size: 0.65rem;
  background: #1e3d59;
  border-left: 2px solid #f5f0e1;
  border-right: 2px solid #f5f0e1;
} */
.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
  border: 2px solid #ff6e40;
}
/* .inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1.1rem;
  color: #f5f0e1;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
  color: #f5f0e1;
  transform: translateX(10px) translateY(-7px);
  padding: 0 10px;
  font-size: 0.65rem;
  background: #1e3d59;
  border-left: 2px solid #f5f0e1;
  border-right: 2px solid #f5f0e1;
}
.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
  border: 2px solid #ff6e40;
} */

.inputBoxDuoRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* SWAL/SweetAlert.js */
.swal2-shown {
  overflow: unset !important;
  padding-right: 0px !important;
}
/* IDENTITY */
.sectionIdentity {
  display: flex;
  flex-direction: row;
  background: #1e3d59;
  color: #f5f0e1;
}
.contentJob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  transition: all 0.2s ease-in-out;
}
.contentJob:hover {
  color: #ff6e40;
  letter-spacing: 0.2rem;
}
.myJob {
  font-weight: bolder;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;
}
/* POT POURRI MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .myJob {
    font-size: 1.5rem;
  }
  header {
    width: 50%;
  }
  header nav a {
    margin: 1rem 0;
    font-size: 2rem;
  }

  #menu-bars {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  .iconMenu {
    display: none;
  }
  .textMenu {
    display: block;
  }
  .myJob {
    font-size: 2rem;
  }
 /*  .navbar{
    align-items: flex-start;

  } */
 
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .myJob {
    font-size: 3rem;
  }
}
/* Large devices (less than ) */
@media only screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  body {
    padding: 0;
  }
  #menu-bars {
    display: initial;
  }
  header {
    left: -120%;
  }
  header.active {
    left: 0%;
  }
  header nav a {
    margin: 1rem 0;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
